@font-face {
  font-family: Inter-Black;
  src: url("../src/assets/fonts/Inter_28pt-Black.ttf");
}
@theme {
  --font-Inter-Black: Inter-Black, sans-serif;
}

@font-face {
  font-family: Inter-Medium;
  src: url("../src/assets/fonts/Inter_24pt-Medium.ttf");
}
@theme {
  --font-Inter-Medium: Inter-Medium, sans-serif;
}

@font-face {
  font-family: Inter-Regular;
  src: url("../src/assets/fonts/Inter_28pt-Regular.ttf");
}
@theme {
  --font-Inter-Regular: Inter-Regular, sans-serif;
}

@font-face {
  font-family: Sora-ExtraBold;
  src: url("../src/assets/fonts/Sora-ExtraBold.ttf");
}
@theme {
  --font-Sora-ExtraBold: Sora-ExtraBold, sans-serif;
}

@keyframes scanlines {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 2px;
  }
}
.animate-scanlines {
  animation: scanlines 0.05s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

@import "tailwindcss";
